# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @S0ulf7y  and @vittorioe will be requested for
# review when someone opens a pull request.
*       @S0ulf7y @vittorioe
